.form-wrapper {
  margin: auto;
  justify-content: space-evenly;
  height: 150px;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 50px auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button2 {
  background-color: #008cba;
} /* Blue */
.button4 {
  background-color: #4caf50;
  color: black;
} /* Black */
.info {
  background-color: #2196f3;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
} /* Blue */
.footer {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  justify-content: space-evenly;
  width: 30%;
  height: 200px;
}
